<a href="https://colab.research.google.com/github/vikas-m-sharma/Core_python/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Return statement :-

def add (y):
  c= 20
  b = c+y
result = add(30)
print(result)

None

In [ ]:
# Area of a Circle

def area_of_circle():
  return 3.14 *radius * radius

result = area_of_circle(23)
print("area:",result )

area: 1661.06

In [ ]:
#Write a function that takes a number and returns "Even" or "Odd".


def even_odd():
  a = int(input("Enter a number "))
  if a %2 ==0:
    print("Even ")
  else:
    print("odd")
even_odd()

Enter a number 567
odd

In [ ]:
def interest(p,r,t):
  return p *r* t / 100

p = 303453
r =12.2
t = 5

result = interest(p,r,t)
print("interest:", result)

interest: 185106.33

In [ ]:
# Create a function that takes two numbers and returns the greater one.

In [ ]:
# Create a function that takes two numbers and returns the greater one.

def find_greater(num1, num2):
  """
  This function takes two numbers and returns the greater one.

  Args:
    num1: The first number.
    num2: The second number.

  Returns:
    The greater of the two numbers.
  """
  if num1 > num2:
    return num1
  else:
    return num2

# Example usage:
number1 = 15
number2 = 28
greater_number = find_greater(number1, number2)
print(f"The greater number between {number1} and {number2} is: {greater_number}")

number3 = 100
number4 = 50
greater_number = find_greater(number3, number4)
print(f"The greater number between {number3} and {number4} is: {greater_number}")

The greater number between 15 and 28 is: 28
The greater number between 100 and 50 is: 100

In [ ]:
# Write a function that takes age and returns:

 # "Eligible to vote" if age â‰¥ 18

# "Not eligible" otherwise

def eligibility(age):
  if age >= 18:
    return "eligible for voting "

  else:
    return "not eligible for voting"

In [ ]:
# Write a function sum_n(n) that returns the sum of first n natural numbers.

def sum_n(n):
  """
  This function calculates the sum of the first n natural numbers.

  Args:
    n: The number of natural numbers to sum.

  Returns:
    The sum of the first n natural numbers.
  """
  return n * (n + 1) // 2

# Example usage:
num = 10
sum_of_numbers = sum_n(num)
print(f"The sum of the first {num} natural numbers is: {sum_of_numbers}")

num = 5
sum_of_numbers = sum_n(num)
print(f"The sum of the first {num} natural numbers is: {sum_of_numbers}")

In [ ]:
def area_of_traingle(r):
  pi = 3.14
  return pi *r**r

result = area_of_traingle(10)
print(result)

In [ ]:
def area_of_triangle(base, height):
  """
  This function calculates the area of a triangle.

  Args:
    base: The base of the triangle.
    height: The height of the triangle.

  Returns:
    The area of the triangle.
  """
  return 0.5 * base * height

# Example usage:
base = 10
height = 5
area = area_of_triangle(base, height)
print(f"The area of the triangle with base {base} and height {height} is: {area}")

In [ ]:
# Write a function that takes a number n and returns the first n Fibonacci numbers.

In [ ]:
def fibonacci_sequence(n):
  """
  This function generates the first n Fibonacci numbers.

  Args:
    n: The number of Fibonacci numbers to generate.

  Returns:
    A list containing the first n Fibonacci numbers.
  """
  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
      next_fib = fib_sequence[-1] + fib_sequence[-2]
      fib_sequence.append(next_fib)
    return fib_sequence

# Example usage:
num_fibonacci = 10
fib_numbers = fibonacci_sequence(num_fibonacci)
print(f"The first {num_fibonacci} Fibonacci numbers are: {fib_numbers}")

num_fibonacci = 5
fib_numbers = fibonacci_sequence(num_fibonacci)
print(f"The first {num_fibonacci} Fibonacci numbers are: {fib_numbers}")

In [ ]:
# Write a function that takes a string and returns True if it's a palindrome, else False.

In [ ]:
def is_palindrome(s):
  """
  Checks if a string is a palindrome.

  Args:
    s: The input string.

  Returns:
    True if the string is a palindrome, False otherwise.
  """
  # Remove spaces and convert to lowercase for case-insensitive check
  s = s.replace(" ", "").lower()
  return s == s[::-1]

# Example usage:
string1 = "racecar"
print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")

string2 = "hello"
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")

string3 = "A man a plan a canal Panama"
print(f"'{string3}' is a palindrome: {is_palindrome(string3)}")

In [ ]:
#Write a function calculator(a, b, operator) that takes two numbers and an operator ('+', '-', '*', '/') and returns the result.

In [ ]:
def calculator(a, b, operator):
  """
  This function performs a calculation based on the given operator.

  Args:
    a: The first number.
    b: The second number.
    operator: The operator ('+', '-', '*', '/').

  Returns:
    The result of the calculation, or a string indicating an invalid operator.
  """
  if operator == '+':
    return a + b
  elif operator == '-':
    return a - b
  elif operator == '*':
    return a * b
  elif operator == '/':
    if b != 0:
      return a / b
    else:
      return "Error: Division by zero"
  else:
    return "Error: Invalid operator"

# Example usage:
print(calculator(10, 5, '+'))
print(calculator(10, 5, '-'))
print(calculator(10, 5, '*'))
print(calculator(10, 5, '/'))
print(calculator(10, 0, '/'))
print(calculator(10, 5, '%'))

In [ ]:
#Write a function to check whether a number is prime or not.

In [ ]:
def is_prime(num):
  """
  Checks if a number is prime.

  Args:
    num: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """
  if num <= 1:
    return False # Numbers less than or equal to 1 are not prime
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False # Found a divisor, so not prime
  return True # No divisors found, so prime

# Example usage:
print(f"Is 7 prime? {is_prime(7)}")
print(f"Is 10 prime? {is_prime(10)}")
print(f"Is 1 prime? {is_prime(1)}")
print(f"Is 2 prime? {is_prime(2)}")

In [ ]:
def greet_user(name):
    def get_message():
        return "Hello"

    message = get_message()
    return f"{message}, {name}!"

print(greet_user("Vikas"))

Hello, Vikas!

In [ ]:
#nested function

def calculator(a, b):
    def add():
        return a + b

    def subtract():
        return a - b

    def multiply():
        return a * b

    return add(), subtract(), multiply()

add_result, sub_result, mul_result = calculator(10, 5)
print("Add:", add_result)
print("Subtract:", sub_result)
print("Multiply:", mul_result)

Add: 15
Subtract: 5
Multiply: 50

In [1]:
# Anonymous Function (Lambda Function )not use def

In [4]:
square = lambda x: x * x
print(square(5))  # Output: 25

25

In [6]:
add = lambda a, b: a + b
print(add(10, 15))  # Output: 25

25

In [7]:
students = [("Ram", 85), ("Shyam", 92), ("Mina", 78)]

# Sort by marks using lambda
sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print(sorted_students)

[('Shyam', 92), ('Ram', 85), ('Mina', 78)]

In [8]:
numbers = [1, 2, 3, 4]

squares = list(map(lambda x: x * x, numbers))
print(squares)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]