<a href="https://colab.research.google.com/github/vikas-m-sharma/Core_python/blob/main/Till_function_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: tuple

my_tuple = (1, 2, 3, 'a', 'b')

In [ ]:
# Tuple are immutable and store heterogenous of element

In [ ]:
my_tuple = (1, 2, 3, 'a', 'b', True)
my_tuple

(1, 2, 3, 'a', 'b', True)

In [ ]:
len(my_tuple)

6

In [ ]:
my_tuple[1]

2

In [ ]:
my_tuple[0:2]

(1, 2)

In [ ]:
my_tuple[-1:]

(True,)

In [ ]:
max('my_tuple')

'y'

In [ ]:
tup1 =(1,23,34,)
tup2 = (23,4,45)
tup1,tup2

((1, 23, 34), (23, 4, 45))

In [ ]:
tup1+tup2*2+tup1 # Concatenating

(1, 23, 34, 23, 4, 45, 23, 4, 45, 1, 23, 34)

In [ ]:
max(tup1)

34

In [ ]:
min(tup2)

4

In [ ]:
#list
# List is ordered collection of elements inclosed with [] and its mutable

In [ ]:
l1 = [1,True, 23.23,"raj ","apple"]

In [ ]:
l1

[1, True, 23.23, 'raj ', 'apple']

In [ ]:
len(l1)

5

In [ ]:
l1[2]

23.23

In [ ]:
l1 [1:5]

[True, 23.23, 'raj ', 'apple']

In [ ]:
l1.pop()

'apple'

In [ ]:
l1.append("Kajal")

In [ ]:
l1

[1, True, 23.23, 'raj ', 'Kajal']

In [ ]:
l1*2

[1, True, 23.23, 'raj ', 'Kajal', 1, True, 23.23, 'raj ', 'Kajal']

In [ ]:
#change the values
l1[2] = 100
l1

[1, True, 100, 'raj ', 'Kajal']

In [ ]:
l1.reverse()

In [ ]:
l1

['Kajal', 'raj ', 100, True, 1]

In [ ]:
l1.insert(1,"Vikas")

In [ ]:
l1

['Kajal', 'Vikas', 'raj ', 100, True, 1]

In [ ]:
# Dictionary
# It ordered collection of element stored data with key values pair

In [ ]:
dict1 = {"apple":100,"banana":80,"Mango":50,"pear":60}

In [ ]:
dict1

{'apple': 100, 'banana': 80, 'Mango': 50, 'pear': 60}

In [ ]:
type(dict1)

dict

In [ ]:
# prompt: what are the different function in dict

# Get all keys
print(dict1.keys())

# Get all values
print(dict1.values())

print(dict1.items())

# Get value by key
print(dict1.get("apple"))


# Add or update an item
dict1.update({"grape": 90})
print(dict1)

# Copy the dictionary
dict2 = dict1.copy()
print(dict2)

# Create a dictionary from keys with a default value
keys = ["a", "b", "c"]
default_value = 0
new_dict = dict.fromkeys(keys, default_value)
new_dict

dict_keys(['apple', 'Mango', 'pear', 'grape'])
dict_values([100, 50, 60, 90])
dict_items([('apple', 100), ('Mango', 50), ('pear', 60), ('grape', 90)])
100
{'apple': 100, 'Mango': 50, 'pear': 60, 'grape': 90}
{'apple': 100, 'Mango': 50, 'pear': 60, 'grape': 90}

{'a': 0, 'b': 0, 'c': 0}

In [ ]:
# adding new fruits

In [ ]:
dict1["grapes"] = 100

In [ ]:
dict1

{'apple': 100, 'Mango': 50, 'pear': 60, 'grape': 90, 'grapes': 100}

In [ ]:
dict1["apple"]=230

In [ ]:
dict1

{'apple': 230, 'Mango': 50, 'pear': 60, 'grape': 90, 'grapes': 100}

In [ ]:
dict2 = {"vikas":23,"raj":23}

In [ ]:
dict2

{'vikas': 23, 'raj': 23}

In [ ]:
dict2.update(dict1)

In [ ]:
dict2

{'vikas': 23,
 'raj': 23,
 'apple': 230,
 'Mango': 50,
 'pear': 60,
 'grape': 90,
 'grapes': 100}

In [ ]:
dict1.pop("apple")

230

In [ ]:
dict1

{'Mango': 50, 'pear': 60, 'grape': 90, 'grapes': 100}

In [ ]:
# Set :- It's unordered collection of elements , duplicate values is not allowed

In [ ]:
set1 = {2,3453,4545,34,45,34,34,34,54,23,23,23,}

In [ ]:
set1

{2, 23, 34, 45, 54, 3453, 4545}

In [ ]:
len(set1)

7

In [ ]:
set1.add(2345)

In [ ]:
set1

{2, 23, 34, 45, 54, 2345, 3453, 4545}

In [ ]:
set1.update([1,2,3,4,5])

In [ ]:
set1

{1, 2, 3, 4, 5, 23, 34, 45, 54, 2345, 3453, 4545}

In [ ]:
# conditional statement

In [ ]:
if 5>2:
    print("Greater")
    print(" 5 is grater than 2")
    if (6<2):
        print("6 is greater than 2")

Greater
 5 is grater than 2

In [ ]:
a = 10
b =20
c = 30

if a>b and a>c:
  print ("a is greater than b and c")
elif b>a and b>c:
  print ("b is greater than a and c")
else:
  print ("c is greater than a and b")

c is greater than a and b

In [ ]:
marks = int(input("Enter your marks( 0 to 100): "))

if marks >=90 and marks <=100:
  print("Grade A")
elif marks >=80 and marks <=90:
  print("Grade B")
elif marks >=70 and marks <=80:
  print("Grade C")
elif marks >=60 and marks <=70:
  print("Grade D")
elif marks >=50 and marks <=60:
  print("Grade E")
elif marks >=0 and marks <=50:
  print("Grade F and you are fail")
else:
  print("Invalid input")

Enter your marks( 0 to 100): 35
Grade F and you are fail

In [ ]:
l1 = [23,34,456,4,45]
if 23 in l1:
  print("23 is present in the list")
else:
  print("23 is not present in the list")

23 is present in the list

In [ ]:
l1 = ['10', '20', '30', '34', '50']

if '34' in l1:
    l1[1] = '323'
    print(l1)

['10', '323', '30', '34', '50']

In [ ]:
# while loop :-  A while loop repeats a block of code as long as a condition is true.

In [ ]:
count = 1

while count<=10:
  print("count is:",count)
  count = count+1

count is: 1
count is: 2
count is: 3
count is: 4
count is: 5
count is: 6
count is: 7
count is: 8
count is: 9
count is: 10

In [ ]:
second = 5

while second >0:
  print("countdown:",second)
  second -= 1

print("time's up")

countdown: 5
countdown: 4
countdown: 3
countdown: 2
countdown: 1
time's up

In [ ]:
password = ""

while password != "1234":
    password = input("Enter password: ")

print(" Correct password! Access granted.")

Enter password: 234
Enter password: 4353
Enter password: 4534
Enter password: 34
Enter password: 4
Enter password: 34
Enter password:
Enter password: 1234
✅ Correct password! Access granted.

In [ ]:
n = 5
total = 0
i = 1

while i <= n:
    total += i
    i += 1

print("Sum of first", n, "numbers is:", total)

Sum of first 5 numbers is: 15

In [ ]:
import random

secret = random.randint(1, 100)
attempt = 0

while True:
    guess = int(input("Guess the secret number (between 1 and 100): "))
    attempt += 1

    if guess == secret:
        print(f"You guessed the secret number in {attempt} attempts!")
        break
    elif guess < secret:
        print("Try a higher number.")
    else:
        print("Try a lower number.")

Try a lower number.
Try a higher number.
Try a lower number.
Try a higher number.
Try a lower number.
Try a lower number.

In [ ]:
i = 0

while True:
    i += 1
    if i % 2 != 0:
        continue  # skip odd numbers
    print(i)
    if i >= 10:
        break

In [ ]:
tasks = ["email", "code", "test", "debug"]

while tasks:
    current = tasks.pop(0)  # remove first item
    print("Completed task:", current)

print("🎉 All tasks done!")

In [ ]:
i =1

while i <=3:
  j = 1
  while j <=3:
    print(f"({i}{j})",end ="")
    j +=1
  print()
  i +=1

In [ ]:
correct_password = "python123"
tries = 3

while tries > 0:
    user_input = input("Enter password: ")

    if user_input == correct_password:
        print(" Access Granted")
        break
    else:
        tries -= 1
        print(" Wrong password. Attempts left:", tries)

if tries == 0:
    print("Account locked due to too many failed attempts.")

In [2]:
#
i =1
n =2
while i <=10:
  print(n,"","*",'i',"=", n*i)
  i = i+1

2  * i = 2
2  * i = 4
2  * i = 6
2  * i = 8
2  * i = 10
2  * i = 12
2  * i = 14
2  * i = 16
2  * i = 18
2  * i = 20

In [2]:
# For loop :- It is a iterate over a sequence (tuple,dict,lost)

In [3]:
l1 = [1,23,345,54,65]
for i in l1:
  print(i)

1
23
345
54
65

In [4]:
l2 = ['apple','grapes','mangos','orange']
for i in l2:
  print(i)

apple
grapes
mangos
orange

In [5]:
# multiple forloop

In [7]:
for i in l1:
  for j in l2:
    print(i,j)

1 apple
1 grapes
1 mangos
1 orange
23 apple
23 grapes
23 mangos
23 orange
345 apple
345 grapes
345 mangos
345 orange
54 apple
54 grapes
54 mangos
54 orange
65 apple
65 grapes
65 mangos
65 orange

In [11]:
# Function :-  IT's block of code which perform specific task
Q = '''there are two type of function 1, built in function 2, user define function'''

In [13]:
Q

'there are two type of function 1, built in function 2, user define function'

In [35]:
def add():  # a function without any parameter
    x = 10
    y = 45
    c = x + y
    print("Sum is:", c)

add()

Sum is: 55

In [30]:
def add(y): # y is parameter
  x =34
  c = x+y
  print(c)
add(23) # 23 is the arguments

57

In [40]:
def dis():
  name = "vikas"
  print("my name is vikas ")

dis()

my name is vikas

In [ ]:
def add(x,y):
  return x+y

def subtract(x,y):
  return x-y

def multiply(x,y):
  return x*y

def divide(x,y):
  if y !=0:
    return x/y
  else:
    print("can not Division by zero")

print("select operation")
print( "1 add")
print( " 2 Substract")
print("3 multiply  ")
print( "4 division")

choice = input("Enter choice(1/2/3/4)")
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

if choice == '1':
  print(num1,"+",num2,"=",add(num1,num2))
elif choice =='2':
  print(num1,"-",num2,"=",subtract(num1,num2))
elif choice =='3':
  print(num1,"*",num2,"=",multiply(num1,num2))
elif choice =='4':
  print(num1,"/",num2,"=",divide(num1,num2))
else:
  print("Invalid input")


# add(21, 34)
# subtract(43,3)
# multiply(23,43)
# divide(43,87)

select operation
1 add
 2 Substract
3 multiply
4 division

In [ ]:
#**return** statement is used inside a function to send back (return) a value to the place where the function was called.
# When to Use return?
 #Use return when:

#1. 🔁 You need the result of the function later (to store, use, or print).
#2. 🧠 You want the function to give back a value instead of just printing.

In [ ]:
def square(x):
    return x * x

result = square(5)
print("Square is:", result)  # Output: Square is: 25

In [ ]:
def square(x):
    print(x * x)

result = square(5)     # Output: 25
print("Returned:", result)  # Output: Returned: None

In [ ]:
def calculator(a,b):
  return a+b, a-b

  result = calculate(23,345)
  print(result)
  #  a function with parameter and arguments